@model LineaTelefonica.Entities.Entities.Evaluacion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Evaluacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CentroAtencion.NombreCentroAtencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CentroAtencion.NombreCentroAtencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoEvaluacion.NombreEstadoEvaluacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoEvaluacion.NombreEstadoEvaluacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LineaTelefonica.LineaTelefonicaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineaTelefonica.LineaTelefonicaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plan.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEvaluacion.NombreTipoEvaluacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEvaluacion.NombreTipoEvaluacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trabajador.TrabajadorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trabajador.TrabajadorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroEvaluacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroEvaluacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroTurno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroTurno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EvaluacionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
