@model IEnumerable<LineaTelefonica.Entities.Entities.Distrito>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Provincia.NombreProvincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDistrito)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Provincia.NombreProvincia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDistrito)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DistritoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DistritoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DistritoId })
        </td>
    </tr>
}

</table>
